Proyecto3/TicTacToeServiceDocumentLiteral/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions name="ECCI_TicTacToe"
             targetNamespace="urn:ECCI_TicTacToe"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:ECCI_TicTacToe"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Tipos complejos -->

  <types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema targetNamespace="urn:ECCI_TicTacToe">

      <xsd:element name="iniciarTablero">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="iniciarTableroReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inicioExitoso" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="reiniciarJuego">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="reiniciarJuegoReturn">
          <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reinicioExitoso" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="verificarEmpate">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="verificarEmpateReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="empate" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="verificarGanador">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="verificarGanadorReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="marcarCasilla">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="jugada" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="marcarCasillaReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exitoso" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </types>

  <!-- Mensajes para comunicarse con la clase HolaMundo. -->

  <message name="iniciarTableroRequest">
    <part name="parameters" element="tns:iniciarTablero" />
  </message>

  <message name="iniciarTableroResponse">
    <part name="parameters" element="tns:iniciarTableroReturn" />
  </message>

  <message name="reiniciarJuegoRequest">
    <part name="parameters" element="tns:reiniciarJuego" />
  </message>

  <message name="reiniciarJuegoResponse">
    <part name="parameters" element="tns:reiniciarJuegoReturn" />
  </message>

   <message name="verificarEmpateRequest">
    <part name="parameters" element="tns:verificarEmpate" />
  </message>

  <message name="verificarEmpateResponse">
    <part name="parameters" element="tns:verificarEmpateReturn" />
  </message>

   <message name="verificarGanadorRequest">
    <part name="parameters" element="tns:verificarGanador" />
  </message>

  <message name="verificarGanadorResponse">
    <part name="parameters" element="tns:verificarGanadorReturn" />
  </message>

  <message name="marcarCasillaRequest">
    <part name="parameters" element="tns:marcarCasilla" />
  </message>

  <message name="marcarCasillaResponse">
    <part name="parameters" element="tns:marcarCasillaReturn" />
  </message>


  <!-- Puerto para comunicar con la clase HolaMundo, "ECCI_HolaMundo" -->

  <portType name="ECCI_TicTacToePort">

    <operation name="iniciarTablero">
      <input message="tns:iniciarTableroRequest" />
      <output message="tns:iniciarTableroResponse" />
    </operation>

    <operation name="reiniciarJuego">
      <input message="tns:reiniciarJuegoRequest" />
      <output message="tns:reiniciarJuegoResponse" />
    </operation>

    <operation name="verificarEmpate">
      <input message="tns:verificarEmpateRequest" />
      <output message="tns:verificarEmpateResponse" />
    </operation>

    <operation name="verificarGanador">
      <input message="tns:verificarGanadorRequest" />
      <output message="tns:verificarGanadorResponse" />
    </operation>

    <operation name="marcarCasilla">
      <input message="tns:marcarCasillaRequest" />
      <output message="tns:marcarCasillaResponse" />
    </operation>

  </portType>

  <!-- Vinculación de los llamados con el transporte - Document, SOAP/Literal over HTTP -->

  <binding name="ECCI_TicTacToeBinding" type="tns:ECCI_TicTacToePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="iniciarTablero">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#iniciarTablero" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

  <operation name="reiniciarJuego">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#reiniciarJuego" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="verificarEmpate">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#verificarEmpate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="verificarGanador">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#verificarGanador" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="marcarCasilla">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#marcarCasilla" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    
  </binding>

  <!-- Punto de comunicación con la clase HolaMundo -->

  <service name="ECCI_TicTacToe">
    <documentation />
    <port name="ECCI_TicTacToePort" binding="tns:ECCI_TicTacToeBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb25247/AppWeb/Proyecto3/TicTacToeServiceDocumentLiteral/" />
    </port>
  </service>

</definitions>