Proyecto3/TicTacToeServiceDocumentLiteral/TicTacToe.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions name="ECCI_TicTacToe"
             targetNamespace="urn:ECCI_TicTacToe"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:ECCI_TicTacToe"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Tipos complejos -->

  <types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema targetNamespace="urn:ECCI_TicTacToe">
      <xsd:element name="iniciar">
        <xsd:complexType name="jugadores">
          <complexContent>
            <restriction base="SOAP-ENC:Array">
              <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
            </restriction>
          </complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="iniciarReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="iniciarResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="marcarCasilla">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="casilla" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="marcarCasillaReturn">
        <xsd:complexType name="marcarCasillaResult">
          <complexContent>
            <restriction base="SOAP-ENC:Array">
              <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
            </restriction>
          </complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGanador">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getGanadorReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getGanadorResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      </xsd:element>
      <xsd:element name="top10">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="top10Return">
        <xsd:complexType name="top10Result">
          <complexContent>
            <restriction base="SOAP-ENC:Array">
              <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
            </restriction>
          </complexContent>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Mensajes para comunicarse con la clase HolaMundo. -->

  <message name="iniciarRequest">
    <part name="parameters" element="tns:jugadores" />
  </message>

  <message name="iniciarResponse">
    <part name="parameters" element="tns:iniciarReturn" />
  </message>

  <message name="marcarCasillaRequest">
    <part name="parameters" element="tns:casilla" />
  </message>

  <message name="marcarCasillaResponse">
    <part name="parameters" element="tns:marcarCasillaReturn" />
  </message>

  <message name="getGanadorRequest">
    <part name="parameters" element="tns:getGanador" />
  </message>

  <message name="getGanadorResponse">
    <part name="parameters" element="tns:getGanadorReturn" />
  </message>

  <message name="top10Request">
    <part name="parameters" element="tns:top10" />
  </message>

  <message name="top10Response">
    <part name="parameters" element="tns:top10Return" />
  </message>

  <!-- Puerto para comunicar con la clase HolaMundo, "ECCI_HolaMundo" -->

  <portType name="ECCI_TicTacToePort">

    <operation name="iniciar">
      <input message="tns:saludeRequest" />
      <output message="tns:saludeResponse" />
    </operation>

    <operation name="marcarCasilla">
      <input message="tns:marcarCasillaRequest" />
      <output message="tns:marcarCasillaResponse" />
    </operation>

    <operation name="getGanador">
      <input message="tns:getGanadorRequest" />
      <output message="tns:getGanadorResponse" />
    </operation>

    <operation name="top10">
      <input message="tns:top10Request" />
      <output message="tns:top10Response" />
    </operation>

  </portType>

  <!-- Vinculación de los llamados con el transporte - Document, SOAP/Literal over HTTP -->

  <binding name="ECCI_TicTacToeBinding" type="tns:ECCI_TicTacToePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="iniciar">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#iniciar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="marcarCasilla">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#marcarCasilla" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="getGanador">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#getGanador" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="top10">
      <soap:operation soapAction="urn:ECCI_TicTacToe#TicTacToe#top10" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <!-- Punto de comunicación con la clase HolaMundo -->

  <service name="ECCI_TicTacToe">
    <documentation />
    <port name="ECCI_TicTacToePort" binding="tns:ECCI_TicTacToeBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb25247/AppWeb/Proyecto3/TicTacToeServiceDocumentLiteral/" />
    </port>
  </service>

</definitions>